<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="tccEntities" connectionString="metadata=res://*/Banco.csdl|res://*/Banco.ssdl|res://*/Banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=tcc;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>