<!DOCTYPE html>
<html>
<head>
    <title>Bem vindo</title>
</head>
<body>
    <p style="font-size:18px;">
        Olá @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Obrigado por se inscrever em nosso site!
    </p>
    <p style="font-size:18px;">
        Por favor confirme a sua conta clicando nesse <a href="@ViewBag.Link">link</a>.
    </p>
    <p style="font-size:18px;"><i>TCC</i></p>
</body>
</html>
