@using Mvc5Project.Models
@{
    ViewBag.Title = "About";
}

<div class="modal" id="modalLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login de usuário</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_Login", new LoginViewModel { })
            </div>

        </div>
    </div>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
