@model Model.tb_projeto
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "P";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-8" style="padding-top: 50px;">


    <div class="jumbotronnomarginbot" style="background-color: #FFFFFF;">
        <center>
            <h4>Atividades</h4>
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default">Pendentes</a>
                <a href="#" class="btn btn-default">Em andamento</a>
                <a href="#" class="btn btn-default">Em verificação</a>
                <a href="#" class="btn btn-default">Finalizadas</a>
            </div>
        </center>


    </div>
    

</div>


<div class="col-lg-4" style="padding-top: 50px;">
    <div class="jumbotron">
        <center>
            <h4>Membros</h4>
        </center>

        @foreach (var usu in ViewBag.Participantes as List<string>)
        {
            var imgUrl = Url.Content("~/Content/images/profile/" + usu + ".png");
            if (!File.Exists(Server.MapPath(imgUrl)))
            {
                imgUrl = Url.Content("~/Content/images/profile/noUser.png") + "?time=" + DateTime.Now.ToString();
            }

            <div class="col-md-5">
                <a class="tooltips" href="@Url.Action("U", "Usuario",new { id = usu })">
                    <img src="@imgUrl" height="50" width="50" class="perfilImagem" />
                      
                </a>
        </div>
        }

        <div class="container" style="padding-left: 0px; padding-right: 0px;">
            <div class="row" style="padding-left: 0px; padding-right: 0px;">

            </div>
            <div class="row" style="padding-left: 0px; padding-right: 0px;">
                    

            </div>
        </div>
    </div>

</div>
